@charset "UTF-8";
.header {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__alineacion {
    display: flex;
    justify-content: space-evenly;
    width: 75%; }
    .header__alineacion__flexDiv {
      display: flex;
      flex-direction: column;
      width: 20%; }
      .header__alineacion__flexDiv:hover .header__linea {
        width: 100%;
        border-bottom-color: red;
        border-width: 3px; }
  .header__linea {
    border-bottom: red 3px solid;
    width: 0%;
    transition: width 1s; }
    .header__linea:hover {
      width: 100%;
      border-bottom-color: red;
      border-width: 3px; }
  .header a {
    font-size: 20px;
    color: black;
    text-align: center;
    text-decoration: none; }
    .header a:hover {
      color: red; }

body {
  background-color: burlywood !important; }

.fuenteNueva {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: "normal";
  font-weight: "bold";
  font-size: 20px; }

.carrusel {
  display: flex;
  justify-content: center !important; }

.tamañoCarrusel {
  width: 300px;
  height: 300px; }

.position {
  position: none !important; }

h1 {
  color: #080c08; }

h3 {
  display: flex;
  justify-content: center;
  color: red; }

p {
  font-family: 'Source Sans Pro', sans-serif;
  color: black; }

.borderSection {
  border-bottom: 2px solid black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px; }

.indexFlex {
  display: flex;
  justify-content: space-evenly; }

.containers {
  display: flex;
  justify-content: center;
  margin: 10px; }

.formulario {
  display: flex;
  flex-direction: column; }

.botones {
  display: flex; }

.flexTortas {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 25px; }

.tamañoImagen {
  width: 175px; }

.tamañoPersonalizado {
  width: 150px; }

.fuenteNueva {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: "normal";
  font-weight: "bold";
  font-size: 20px; }

.iconos {
  height: 50px;
  width: 50px; }

.sectGrids {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 30px 30px 30px 30px;
  justify-content: space-between; }

.imagenesWeb {
  width: 175px;
  height: 175px; }

@media screen and (max-width: 600px) {
  .imagenesWeb {
    width: 175px;
    height: 175px; } }

@media screen and (max-width: 900px) and (min-width: 600px) {
  .imagenesWeb {
    width: 300px;
    height: 300px; } }

.pedidosFlex {
  display: flex;
  justify-content: space-evenly; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Foto lista ." ". lista ." ". lista ."; }

.Foto {
  grid-area: Foto; }

.lista {
  grid-area: lista; }

.container1 {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Torta-Frutal Selva-Negra Lemon-Pie" "Frutos-rojos Arandano Buttercream"; }

.Selva-Negra {
  grid-area: Selva-Negra; }

.Torta-Frutal {
  grid-area: Torta-Frutal; }

.Lemon-Pie {
  grid-area: Lemon-Pie; }

.Buttercream {
  grid-area: Buttercream; }

.Arandano {
  grid-area: Arandano; }

.Frutos-rojos {
  grid-area: Frutos-rojos; }

.tortaButter {
  width: 175px;
  height: 235px; }

/* Aca comienzan las animaciones/transformaciones */
.trans {
  transition: height 2s; }

.trans:hover {
  height: 250px; }

.transfor {
  transform: translateX(110px); }

.key {
  animation: efecto;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  /* animation-delay: 2s; */
  animation-timing-function: cubic-bezier(0.72, 0.31, 0, 0.92); }

@keyframes efecto {
  0% {
    width: 115px; }
  50% {
    transform: translateX(100px); }
  /* 65% {transform: rotate(1deg)} */
  100% {
    width: 300px; } }

/* Aca empieza el footer */
.footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 40px;
  border-top: 2px solid black; }

.footeer {
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border-top: 2px solid black; }

.fontsize {
  font-size: 100%; }
