.sumario{
    display: flex; 

    @media screen and (max-width:600px){
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    &__orden{
        background-color: white;
        width: 375px;
        height: 375px;
        margin: 22px;
        @media screen and (max-width:600px) {
            width: 220px;
            height: 200px;
        }
    }

}

.formulario{
    width: 60%;
    margin: 15px;
    &__vencimiento{
        display: flex;
        width: 100%;
        height: 7%;
    }
    @media screen and (max-width:600px) {
        width: 80%;
    }
}
.btnPago{
    display: flex;
    justify-content: center;
    margin: 10px;
}
