.borderSection{
    border-bottom: 2px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.footer{
    display:flex;
    justify-content:space-evenly;
    border-top: 2px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}
.container{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.formulario{
    display:flex;
    flex-direction: column;
}
.botones{
    display:flex;
}
body{
    background-color: burlywood;
}

h1 {
    color: rgb(8, 12, 8);
}

h3{
    color: red;
    }
p{
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
 }

 ul{
     color:darkblue
 }

 table{ border-color: black;
     color: rgb(32, 24, 24);
      }
      tr {
          color:rgb(32, 8, 36)
      }
.header{
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}
.flexTortas{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 25px;
}
.tamañoImagen{
    width: 175px;
}
.tamañoPersonalizado{
    width: 150px;
}

.fuenteNueva{ 
    font-family: 'Source Sans Pro', sans-serif;
    font-style: "normal";
    font-weight: "bold";
    font-size: 20px
 }

.iconos{
     height: 50px;
     width: 50px;
 }
.margenLink{
    margin-right: 15px;
    text-decoration: none;
 }